.card {
    min-width : 15rem;
    min-height: 10rem;
    max-width : 50rem;

    margin: 15px;

}

.cardBody {}

.cardTitle {
    justify-content: left;
    align-items    : center;
    padding        : 5px;
    border         : 2px solid yellow;
    text-align     : left;

}

.cardFooter {}

.markAsRead {
    text-align: right;
    font-size : 15px;
}

.timestamp {
    text-align: left;
    font-size : 15px;
}