.cardMain {
    min-width       : 36rem;
    max-width       : 36rem;
    max-height      : 35rem;
    padding         : 10px;
    border-radius   : 20px;
    background-color: white;
}

.cardHeader {
    background-color: white;
    justify-content : left;
    text-align      : left;
}

.cardTitle {
    border-radius: 20px;
}

.cardBody {
    border-radius: 20px;
    padding      : 0%;

}

.cardTest {
    min-height: 25rem;
}

.cardFooter {
    text-align      : right;
    background-color: white;
    width           : "100vw !important";
    border          : 0%;
}

.fancyBox {
    text-align : center;
    align-items: center;

}

.alertText {
    font-size: 10px;
}

.markAsRead {
    font-size: 10px;
}

.timestamp {
    text-align: left;
    font-size : 15px;
}